.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.choose {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;

    text-align: center;
    letter-spacing: 3px;

    margin-top: 73px;

}