.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.choose {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;

    text-align: center;
    letter-spacing: 3px;

    margin-top: 43px;
}

.search {
    width: 1088px;
    height: 53px;
    background: #F2F2F2;

    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    border-radius: 40px;
    border: none;
    margin-top: 45px;
    padding-inline: 30px;
}